<div>
  <a
    link
    [attr.href]="
      'https://buscacepinter.correios.com.br/app/localidade_logradouro/index.php'
    "
    [attr.target]="'_blank'"
    >Check your zip code</a
  >
  <!-- O attribute binding ajuda a definir valores para atributos diretamente. 
  Com a associação de atributos, você pode melhorar a acessibilidade, estilizar seu aplicativo 
  dinamicamente e gerenciar várias classes ou estilos CSS simultaneamente.
  A é semelhante à vinculação de propriedade, mas em vez de uma propriedade de elemento entre colchetes,
  você precede o nome do atributo com o prefixo attr, seguido por um ponto. -->
  <span> 📭 </span>
</div>
