<sa-toolbar-header class="toolbar-header"></sa-toolbar-header>

<sa-card>
  <sa-search-container
    (onSearchCustomEvent)="updateAddress($event)"
    form
  ></sa-search-container>

  <!-- o onSearchCustomEvent é o evento customizado que o component
  sa-search-container está emitindo No caso acima o evento customizado está
  emitindo um objeto de address que é o $event, onde o método updateAddress
  passa esse objeto para a propriedade currentAddress, que através do property
  binding é passado para o componente do resultado. -->

  <sa-grid-result [address]="currentAddress" result></sa-grid-result>
  <!-- property binding na propriedade address   do componente grid-result passando o valor emitindo do evento do componente search-container -->

  <sa-check-zip-code class="link" link></sa-check-zip-code>
</sa-card>
