:root {
  --background-color: #fafafa;
  --card-color: #e7e7e7;
  --text-color: #000000;
  --details-color: #f44336;
}
.dark-mode:root {
  --background-color: #252525;
  --card-color: #383838;
  --text-color: #ffffff;
  --details-color: #f44336;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  background-color: var(--background-color);
  font-family: Roboto, "Helvetica Neue", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
